@model ProductVM

<div class="card shadow border-0 my-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">@(Model.Product.Id != 0 ? "Aggiorna" : "Crea") Prodotto</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row" enctype="multipart/form-data">
			<input asp-for="Product.Id" hidden />
			@* 			<input asp-for="Product.ImageUrl" hidden />
			*@			<div class="row">
				<div class="col-10">
					<div class="border p-3">
						@*<div asp-validation-summary="ModelOnly"></div>*@
						<div class="form-floating py-2 col-12">
							<input asp-for="Product.Name" class="form-control border-0 shadow" />
							<label asp-for="Product.Name" class="ms-2"></label>
							<span asp-validation-for="Product.Name" class="text-danger"></span>
						</div>
						<div class="py-2 col-12">
							<label asp-for="Product.Description" class="ms-2 text-muted"></label>
							<textarea asp-for="Product.Description" class="form-control border-0 shadow"></textarea>
						</div>
						<div class="form-floating py-2 col-12">
							<input asp-for="Product.Brand" class="form-control border-0 shadow" />
							<label asp-for="Product.Brand" class="ms-2"></label>
							<span asp-validation-for="Product.Brand" class="text-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<input asp-for="Product.ListPrice" class="form-control border-0 shadow" />
							<label asp-for="Product.ListPrice" class="ms-2"></label>
							<span asp-validation-for="Product.ListPrice" class="text-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<input asp-for="Product.Price" class="form-control border-0 shadow" />
							<label asp-for="Product.Price" class="ms-2"></label>
							<span asp-validation-for="Product.Price" class="text-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<select id="categorySelect"
									asp-for="@Model.Product.SubCategory.CategoryId"
									asp-items="@Model.CategoryList"
									class="form-select border-0 shadow">
								<option disabled selected>--Seleziona Categoria--</option>
							</select>
							<label asp-for="Product.SubCategory.CategoryId" class="ms-2"></label>
							<span asp-validation-for="Product.SubCategory.CategoryId" class="text-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<select id="subCategorySelect" asp-for="@Model.Product.SubCategoryId" asp-items="@Model.SubCategoryList"
									class="form-select border-0 shadow">
								<option disabled selected>--Seleziona Sotto Categoria--</option>
							</select>
							<label asp-for="Product.SubCategoryId" class="ms-2"></label>
							<span asp-validation-for="Product.SubCategoryId" class="text-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<input type="file" name="files" class="form-control border-0 shadow" multiple />
							<label asp-for="Product.ProductImages" class="ms-2"></label>
							<span asp-validation-for="Product.ProductImages" class="text-danger"></span>
						</div>
						<div class="row pt-2">
							<div class="col-6 col-md-3">
								@if (Model.Product.Id != 0)
								{
									<button type="submit" class="btn btn-primary form-control">Aggiorna</button>
								}
								else
								{
									<button type="submit" class="btn btn-primary form-control">Crea</button>
								}
							</div>
							<div class="col-6 col-md-3">
								<a asp-controller="Product"
								   asp-action="Index"
								   class="btn btn-outline-primary border form-control">
									Torna a Prodotti
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-2">
					@if (Model.Product.ProductImages != null)
					{
						foreach (var image in Model.Product.ProductImages)
						{
							<div class="border p-1 m-2 text-center">
								<img src="@image.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
							</div>
						}
					}
				</div>
		</form>
	</div>
</div>

@section Scripts{
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
		});
	</script>

	<script>
		var categorySelect = document.getElementById("categorySelect");
		var subCategorySelect = document.getElementById("subCategorySelect");

		categorySelect.addEventListener("change", function () {
			var selectedCategoryValue = categorySelect.value;
			$.ajax({
				url: '/Admin/Product/GetSubCategoriesBasedOnCategory?id=' + selectedCategoryValue,
				method: 'GET',
				success: function (data) {
					subCategorySelect.innerHTML = '';

					if (data.length > 0) {
						subCategorySelect.disabled = false;
					} else {
						subCategorySelect.disabled = true;
					}

					data.forEach(function (item) {
						var option = document.createElement("option");
						option.text = item.text;
						option.value = item.value;
						subCategorySelect.appendChild(option);
					});
				}
			});
		});
	</script>

	@{
		<partial name="_ValidationScriptsPartial" />
	}
}